.wpcf7
  p
    position: relative
    margin-top: 20px
  .wpcf7-form-control-wrap
    display: block
    margin-bottom: 20px
    input[type='text'],
    input[type='email'],
    textarea
      width: 100%
      max-width: 100%
      padding: 20px 30px
      border-radius: 0px
      border: none
      background-color: #FFFFFF
      font-weight: 500
      font-size: 14px
      letter-spacing: -0.51px
      color: #1F1F1F
      transition: all .3s ease-in-out
      &:placeholder
        font-weight: 500
        font-size: 14px
        letter-spacing: -0.51px
        color: $text-color

      &:focus-visible
        outline: none
      &:active,
      &:focus
        background-color: #fff
        //border-color: $primary-color
    .wpcf7-not-valid-tip
      margin-top: 10px
      font-size: 14px
      font-weight: bold
      //font-family: $roboto


  input[type='submit']
    @extend %button-text
    text-transform: uppercase
    padding: 15px 0px
    border-radius: 30px
    border: 1px solid transparent
    background-color: $accent-color
    box-shadow: 0px 9px 30px #1FCCB740
    transition: all .3s ease-in-out
    text-align: center
    display: inline-block
    width: 320px
    text-align: center
    &:hover
      background-color: #199986
      box-shadow: 0px 9px 30px #1FCCB740
    &:active
      border: 1px solid $accent-color
      color: $accent-color
      background-color: white
      box-shadow: none
  .wpcf7-spinner
    display: block
    position: absolute
    bottom: 12px
    left: -5px

  .wpcf7-response-output
    border-radius: 7px
    font-size: 14px
    padding: 10px 20px
    margin: 20px 0px
  form.invalid
    .wpcf7-response-output
      background-color: #ffb900
  form.sent
    .wpcf7-response-output
      background-color: #46b450
      color: #fff

@include media-breakpoint-down(sm)
  .wpcf7
    input[type='submit']
      text-align: center
      padding: 13px 0px
      display: block
      margin: 0 auto
      width: 100%
    .wpcf7-spinner
      bottom: 10px
